@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400&display=swap');

.silkscreen-regular {
  font-family: "Silkscreen", serif;
  font-weight: 400;
  font-style: normal;
}

@keyframes heart-bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.3);
  }
  20% {
    transform: scale(1.2);
  }
  30% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  60% {
    transform: scale(1.2);
  }
  70% {
    transform: scale(1.1);
  }
  80% {
    transform: scale(1);
  }
  90% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  animation: heart-bump 1.5s infinite ease-in-out;
  transition: opacity 0.5s ease-in-out; /* Smooth transition for heart */
}


.App-header {
  background-color: #0c1017;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Question {
  color: white;
  font-size: 2rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.Button-container {
  margin-top: 20px;
  display: flex;
  gap: 40px;
  position: relative;
}

/* Yes Button */
.Yes-btn {
  /* background-color: #4caf50; */
  background: #26bd77;
  transition: background-color 0.3s;
}

.Yes-btn:hover {
  background-color: #1ca465;
}

/* No Button */
.No-btn {
  background: #F32C52;
  transition: background-color 0.3s, transform 0.3s;
}

.No-btn:hover {
  background-color: rgb(199, 22, 22);
}

/* Moving Effect for No Button */
.moving-no {
  transition: transform 0.7s ease-in-out;
}


.fade-in {
  opacity: 0;
  animation: fadeIn 0.8s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

button {
  border: none;
  cursor: pointer;
  display: flex;
  overflow: hidden;
  padding: 10px 30px;
  user-select: none;
  transition: all 150ms linear;
  text-align: center;
  white-space: nowrap;
  text-decoration: none !important;
  text-transform: capitalize;
  color: #fff;
  border-radius: 36px;
  font-weight: bold;
  line-height: 1.3;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  justify-content: center;
  align-items: center;
  flex: 10 10;
  box-shadow: 2px 5px 10px #54565f;
  font-size: 20px;
  position: relative;
  
  &:active {
    transition: all 150ms linear;
    opacity: .75;
  }

  &:focus {
    outline: 1px dotted #959595;
    outline-offset: -4px;
  }
}

/* Hide hover interactions or change UI for mobile */
.mobile .hover-message {
  display: block;
  color: red; /* Or use any other styling */
}

/* Hide hover effects or make adjustments for mobile */
.mobile .button-container button:hover {
  pointer-events: none; /* Disables hover */
}

.desktop .hover-message {
  display: none;
}